body {
  background: #2a2626;
  color: #e9e1e1;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 1em #e70c0caa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 1em #f80202aa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #e80505;
}

/* Estilização das tabelas */

.custom-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.custom-table th,
.custom-table td {
  padding: 12px;
  border: 1px solid #ddd;
  text-align: left;
}

.custom-table th {
  background-color: #11082e;
}

.custom-table tbody tr:nth-child(even) {
  background-color: #444445;
}

.custom-table tbody tr:hover {
  background-color: #292453;
  cursor: pointer;
}