body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
  background: #2a2626;
  color: #e9e1e1;
}

/* ESTILIZAÇÃO QUE JÁ VEIO NO PROJETO */

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 1em #e70c0caa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 1em #f80202aa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #e80505;
}

/* Estilização das tabelas */

.custom-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.custom-table th,
.custom-table td {
  padding: 12px;
  border: 1px solid #ddd;
  text-align: left;
}

.custom-table th {
  background-color: #11082e;
}

.custom-table tbody tr:nth-child(even) {
  background-color: #444445;
}

.custom-table tbody tr:hover {
  background-color: #292453;
  cursor: pointer;
}

/* ESTILIZAÇÃO DA PAGINA INSERIR LANCAMENTO */

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  color: #ccc;
}

form {
  background-color: #cfcfd4;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 10px;
  color: #555;
}

input {  
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-left: 5px;
}

button:hover {
  background-color: #0056b3;
}

.date-picker-container {
  display: flex;
  align-items: center;
}

.datapickerwrapper {
  /* background-color: #0056b3; */
  /* font-size: 16px; */
  /* max-width: 300px; */
  /* padding: 20px ; */
  /* color: #db1212; */  
  margin-right: 10px; /* Adicione uma margem à direita para criar um espaço entre os dois DatePickers */

}

.selectConta {
  /* background-color: #0056b3; */
  font-size: 16px;
  max-width: 200px;
  padding: 5px ;
  /* color: #db1212;   */
  /* margin-right: 10px;  */

}